body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    padding: 20px;
}

h1 {
    color: #38bdf8;
}

.card {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #334155;
}
